td{
    width: 150px;
    height: 150px;
    color: whitesmoke;
    background: rgb(126, 118, 118);
    font-size: 40px;
    text-align: center;
    border-radius: 10px;
}
table{
    margin: 20px auto;
    border-radius: 10px;
}
body{
    background: rgba(71, 180, 49, 0.89);
}
center{
    color:rgb(26, 24, 25);
}